<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>

    <body>
        {{>header}}
        <img src='/img/image.jpg' alt="Profile picture">
        {{>footer}}
    </body>
</html>